@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes rotate-album {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate-album {
  animation: rotate-album 20s linear infinite;
}

/* Custom CSS */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.translate-z-40 {
  transform: translateZ(40px);
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

pre {
  background: #1a1a2e !important;
  padding: 1rem;
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in;
}
